* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-size: 62.5%;
 background-color: #222831;
 font-family: "DM Sans", sans-serif;
 text-align: center;
}
.app_title {
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 0.2rem;
 font-size: 2rem;
 font-family: "Rock Salt", cursive;
 color: blueviolet;
}
